.asideSection{
    /* width: 40vh; */
    background-color: #142133;
    color: rgb(183, 182, 182);
    height: 100vh;
    padding: 1%;
    overflow: hidden;
  
    
  }
  .asideSection ul{
    padding: 0;
  }
  .asideSection ul li{
    list-style: none;
    padding: 5px;
    font-size: 0.9rem;
    margin-bottom: 1.9rem;
    cursor: pointer;
  }